.mesa-dulce,
.mesa-dulce * {
  box-sizing: border-box;
}
.mesa-dulce {
  background: #ffffff;
  width: 800px;
  height: 360px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}
.rectangle-2 {
  background: #d9d9d9;
  width: 67px;
  height: 160px;
  position: absolute;
  left: 541px;
  top: 184px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.mesa-de-cafe {
  color: #000000;
  text-align: left;
  font: 700 italic 26px "Inter", sans-serif;
  position: absolute;
  left: 538px;
  top: 24px;
  width: 231px;
  height: 63px;
}
.frame-11 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: 275px;
}
.canastita-para-tirar-sobres-de-edulcorante-y-te {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-12 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: 236px;
}
.caja-de-te-completa {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-13 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: 197px;
}
.cucharitas {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-14 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: 158px;
}
.tazas-platos-chicos {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-15 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: 119px;
}
.tazas-platos {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-18 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: -4px;
}
.cafetera {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 22px;
  position: absolute;
  left: 307px;
  top: 222px;
}
.frame-8 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 122px;
  height: 79px;
  position: relative;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._3-termos {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 138px;
}
._3-yerba {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 104px;
}
._3-azucar-c-cucharita {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-7 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 70px;
}
.crema {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 36px;
}
.edulcorante {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.i-os-icon-36-back-arrow-reply {
  position: absolute;
  right: 42px;
  top: 284px;
  overflow: visible;
}
.frame-17 {
  padding: 2px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 210px;
  height: 56px;
  position: absolute;
  left: -10px;
  top: 34px;
}
.frame-10 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 215px;
  position: relative;
}
.termo-con-agua-caliente {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-16 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -4px;
  top: 80px;
}
.termo-con-leche {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 2px;
}
.azucar {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 172px;
}
._3-mates-c-bombilla {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: relative;
}
