.mesa-dulce,
.mesa-dulce * {
  box-sizing: border-box;
}
.mesa-dulce {
  background: #ffffff;
  width: 800px;
  height: 360px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 82.94px;
  height: 81.05px;
  position: absolute;
  left: 207.89px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0.63deg) scale(1, 1);
}
.mesa-de-tortas-2 {
  color: #000000;
  text-align: left;
  font: 700 italic 26px "Inter", sans-serif;
  position: absolute;
  left: 39px;
  top: 41px;
  width: 131px;
  height: 20px;
}
._1-esp-tula-2-cuchillos-tenedores-platos-medianos-servilletas-cucharitas-para-ensalada-de-fruta {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: absolute;
  left: 216px;
  top: 112px;
  width: 282px;
  height: 124px;
}
.i-os-icon-36-back-arrow-reply {
  position: absolute;
  right: 42px;
  top: 298px;
  overflow: visible;
}
.rectangle-5 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 158px;
  height: 104px;
  position: absolute;
  left: 545px;
  top: 120px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.vector-2 {
  position: absolute;
  left: 512px;
  top: 97px;
  transform: translate(-0.5px, -0.66px);
  overflow: visible;
}
.vector-3 {
  position: absolute;
  left: 646px;
  top: 120px;
  transform: translate(-0.5px, 0px);
  overflow: visible;
}
.caja-grande-para-ensalada-de-frutas {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: absolute;
  left: 489px;
  top: 19px;
  width: 264px;
  height: 39px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.para-6-copas {
  color: #000000;
  text-align: left;
  font: 400 18px/167.52% "Inter", sans-serif;
  position: absolute;
  left: 549px;
  top: 49px;
  width: 184px;
  height: 51px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
